@model IEnumerable<SisGerenciador.src.Models.PeriodoLetivo>

@{
    ViewData["Title"] = "Index";
}

<h1>Período Letivo</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtFim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtFim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><ion-icon name="create-sharp"></ion-icon></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><ion-icon name="search-sharp"></ion-icon></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><ion-icon name="trash-sharp"></ion-icon></a>
            </td>
        </tr>
}
    </tbody>
</table>
