@model SisGerenciador.src.Models.Docente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Docente</h4>
    <hr />
    <dl class="row">
        <dt class = "form-group col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = " form-group col-sm-8">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "form-group col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = " form-group col-sm-8">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "form-group col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = " form-group col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "form-group col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = " form-group col-sm-8">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "form-group col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = " form-group col-sm-8">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "form-group col-sm-2">
            @Html.DisplayNameFor(model => model.DtMatricula)
        </dt>
        <dd class = " form-group col-sm-8">
            @Html.DisplayFor(model => model.DtMatricula)
        </dd>
        <dt class = "form-group col-sm-2">
            @Html.DisplayNameFor(model => model.Instituicao)
        </dt>
        <dd class = " form-group col-sm-8">
            @Html.DisplayFor(model => model.Instituicao.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar a lista</a>
</div>
