@model SisGerenciador.src.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "form-group col-sm-2">
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>
        <dd class = " form-group col-sm-8">
            @Html.DisplayFor(model => model.Sigla)
        </dd>
        <dt class = "form-group col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = " form-group col-sm-8">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "form-group col-sm-2">
            @Html.DisplayNameFor(model => model.QtdPeriodo)
        </dt>
        <dd class = " form-group col-sm-8">
            @Html.DisplayFor(model => model.QtdPeriodo)
        </dd>
        <dt class = "form-group col-sm-2">
            @Html.DisplayNameFor(model => model.LimiteQtdPeriodoCurricular)
        </dt>
        <dd class = " form-group col-sm-8">
            @Html.DisplayFor(model => model.LimiteQtdPeriodoCurricular)
        </dd>
        <dt class = "form-group col-sm-2">
            @Html.DisplayNameFor(model => model.Instituicao)
        </dt>
        <dd class = " form-group col-sm-8">
            @Html.DisplayFor(model => model.Instituicao.Descricao)
        </dd>
        <dt class = "form-group col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = " form-group col-sm-8">
            @Html.DisplayFor(model => model.Departamento.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar a lista</a>
</div>
